<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lao Professionals</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/pro">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  <ion-list>
    <ion-item button [routerLink]="['/pro', pro.id]" *ngFor="let pro of (professionals | async); let i = index">
      {{ pro?.gsxcategory?.t }}
      {{ pro?.gsxorganizationname?.t }}
      {{ pro?.gsxcontactname?.t }}
      <ion-thumbnail slot="start">
        <ion-img [src]="pro?.imageUrl?.t "></ion-img>
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>