<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<div class="container">
  <div class="card">
    <div class="card-header">
      Upload Image
    </div>
    <div class="card-body">
      <h5 class="card-title">Select a file for upload:</h5>
      <input type="file" (change)="upload($event)" accept=".png,.jpg" />
      <br><br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <!-- <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
          File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
      </div> -->
      <br>
      <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
          <button type="button" class="btn btn-primary" (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
          <button type="button" class="btn btn-primary" (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="task.resume()" [disabled]="state === 'running'">Resume</button>
      </div>
    </div>
  </div>
</div>

<ion-content padding>
 
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input [(ngModel)]="pro?.gsxcontactname.t"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="pro?.gsxemail.t"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Organization Name</ion-label>
    <ion-input [(ngModel)]="pro?.gsxorganizationname.t"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Phone</ion-label>
    <ion-input [(ngModel)]="pro?.gsxphone.t"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Postal Code</ion-label>
    <ion-input [(ngModel)]="pro?.gsxpostalcode.t"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">State</ion-label>
    <ion-input [(ngModel)]="pro?.gsxstate.t"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Address</ion-label>
    <ion-input [(ngModel)]="pro?.gsxstreetaddress.t"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Website</ion-label>
    <ion-input [(ngModel)]="pro?.gsxwebsite.t"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input [(ngModel)]="pro?.title.t"></ion-input>
  </ion-item>
</ion-content>
 
<ion-footer *ngIf="!pro?.id">
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="addPro()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Add Idea
    </ion-button>
  </ion-toolbar>
</ion-footer>
 
<ion-footer *ngIf="pro?.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deletePro()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updatePro()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>